html {
    scroll-behavior: smooth;
}

body {
    background: url(https://images.pexels.com/photos/1420709/pexels-photo-1420709.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    font-style: italic;
    font-size: 2em;
}

.logo span {
    color: red;
}

.nav-item {
    padding-right: 20px;
}

#partners {
    background-image: linear-gradient(to right, rgb(206, 162, 112), rgb(209, 209, 209));
    padding: 30px;
    border-radius: 25px;
    box-shadow: 10px 10px 8px rgb(187, 183, 183);
    text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.459);
}

.text-shadow {
    text-shadow: 1px 1px 1px black;
}

.hands-off {
    padding: 20px;
    background: url(https://s2.best-wallpaper.net/wallpaper/2560x1920/1711/Piano-keys-musical-theme_2560x1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
}

.hands-off-text {
    text-align: center;
    color: rgb(214, 211, 211);
    text-shadow: -1px -1px 1px black;
    text-shadow: 1px 1px 1px black;
}

.hands-off-text>span {
    color: red;
}
